* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #f4f7fb;
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.app-container {
  background:linear-gradient(rgb(243, 180, 235),rgb(196, 182, 182));
  width: 100%;
  max-width: 900px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

.header {
  text-align: center;
  margin-bottom: 25px;
}

.header h1 {
  font-size: 2rem;
  color: #b42d9e;
  margin-bottom: 5px;
}

.header p {
  font-size: 0.95rem;
  color: #2f57d8;
}


.expense-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
  justify-content: center;
}

.expense-form input,
.expense-form select {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  width: 180px;
  transition: all 0.3s;
}

.expense-form input:focus,
.expense-form select:focus {
  border-color: #85246c;
  outline: none;
  box-shadow: 0 0 5px rgba(59, 59, 152, 0.3);
}

.expense-form button {
  background: #9413b4;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.expense-form button:hover {
  background:peachpuff;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 25px;
}

.filter-container button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background: #e0e0e0;
  cursor: pointer;
  transition: all 0.3s;
}

.filter-container button:hover {
  background: #ccc;
}

.filter-container button.active {
  background: #883b98;
  color: white;
}


.stats-container {
  background: #fff0fe;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
  line-height: 1.6;
}

.stats-container p {
  margin: 5px 0;
  font-size: 1rem;
}

.stats-container b {
  color: #3b3b98;
}


.expense-list {
  display: grid;
  gap: 12px;
}


.expense-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 12px 16px;
  border-radius: 12px;
  transition: all 0.3s;
}

.expense-item:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.expense-item p {
  flex: 1 1 20%;
  font-size: 0.95rem;
  text-align: center;
  color: #333;
}

.expense-item input {
  flex: 1 1 20%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.expense-item button {
  background:goldenrod;
  color:#fff;
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.expense-item button:hover {
  background: gold;
}

.expense-item button:last-child {
  background: red;
}

.expense-item button:last-child:hover {
  background: rgb(182, 39, 39);
}