/* @tailwind base;
@tailwind components;
@tailwind utilities;

/* small helper so the page isn't completely blank */
/* html, body, #root {
	height: 100%;
}
body {
	@apply bg-gray-50 text-gray-800 flex items-center justify-center;
} */ 
